/*navsection*/
.navbox{
    display: flex;
    justify-content: space-between;
    margin: auto 100px;
    margin-bottom: 80px;
}
.navlinks{
    display: flex;
    gap: 20px;
    align-items: center;
}
.otherlinks{
    display: flex;
    gap: 20px;
}
.navlinks a{
    text-decoration: none;
    color: black;
}
/*banner section*/
.banner{
    display: flex;
    justify-content:space-between;
    margin: auto 100px;
}
.banner-heading{
    font-size: 4rem;
    font-weight: bolder;
    margin: 50px auto;
    margin-bottom: 0px;
}
.banner-description{
    margin: 0 auto;
    color:#8987A1;
}
.orange{
    color: #E95A08;
}
/*plants section*/
.plants{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 100px;
}
.plant-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}
.imgbtn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgbtn img{
    width: 100%;
    height: auto;
}
.imgbtn button{
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    height: 30px;
}
.plants-title{
    font-size: 4rem;
    font-weight: bolder;
    margin: 0px;
}
.plants-desc{
    color: #8987A1;
    margin-top: 0px;
    text-align: center;
}
/*plantslover section*/
.plantlover{
    display: flex;
    justify-content: space-between;
    margin: 100px 100px;
    height: 600px;
}
.pl-img{
    width: 50%;
    height: 100%;
    display: flex; 
}
#mainimg{
    width: 100%;
    height: auto;
}
#badge{
    width: 300px;
    height: 300px;
    position: relative;
    top: -100px;
    left: -200px;
}
/*latestdeals section*/
.latestdeals{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 400px;
    margin: auto 100px;
}
.dealsleft{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 40%;
    height: 100%;
}
.bloomplant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('assets/deal-bloom.png');
    filter: brightness(60%);
    background-size: cover;
    width: 100%;
    height: 50%;
    border-radius: 10px;

}
.anaplant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('assets/deal-ana.png');
    background-size: cover;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    filter: brightness(60%);
}
.dealsright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-image: url('assets/deal-zabo.png');
    filter: brightness(60%);
    background-size: cover;
    border-radius: 10px;
    height: auto;
}
.left-textstyle{
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin: 0px;
}
.right-textstyle{
    color: white;
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    margin: 0px;
}



@media screen and (max-width: 576px) {
    .otherlinks{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        margin: 0px;
    }
    .banner-image img{
        width: 100%;
        height: auto;
    }
    .navbox{
        margin: 0px;
    }
    .plants{
        margin: 0px;
    }
    .plant-images{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .plantlover{
        flex-direction: column;
        align-items: center;
        margin: 15px 0px;
        height: auto;
    }
    .pl-img{
        width: 100%;
        height: auto;
    }
    #mainimg{
        width: 100%;
        height: auto;
    }
    #badge{
        display: none;
    }  
    .latestdeals{
        flex-direction: column;
        align-items: center;
        margin: 0px;
        row-gap: 20px;
    }
    .dealsleft, .dealsright{
        width: 100%;
        height: 50%;
    }
    .anaplant{
        border-radius: 0px;
    }
    .left-textstyle{
        font-size: 1.5rem;
    }
    .right-textstyle{
        font-size: 2rem;
    }

}